@import "parciales/variables.scss";
@import "parciales/mixins";
@import "parciales/basico-para-todo.scss";
@import "parciales/_header.scss";
@import "parciales/_main.scss";
@import "parciales/_equipos.scss";
@import "parciales/_galeria.scss";
@import "parciales/_fechas.scss";
@import "parciales/_form.scss";
@import "parciales/_media-queries.scss";

.boton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all .5s ease;
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 99;
    background-color: $dorado;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.40);

    &__arriba{
        color: $bordo;
    }
    &__arriba i{
        font-weight: 800;
        font-size: 1.5em;
    }
    &__arriba:hover{
        color: #fff;
    }
}

footer{
    background-color: $bordo;
}

