/*COLORES


#63a194	(99,161,148)
#ffffff	(255,255,255)
#e1c396	(225,195,150)
#b09677	(176,150,119)
#8d1c3d	(141,28,61)


FIN COLORES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-size: 1.1rem;
    font-family: 'Bebas Neue', cursive;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/*********************** HEADER ***********************/
.header, footer{
    background-color: #8d1c3d;
}

.navbar-toggler {
    color: #ffffff;
    border-color: #ffffff41;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: inherit;
}

.header__img {
    width: 200px;
}

.buscar input:hover{
    border:#e1c396  solid 2px;
}

/*********************** HEADER FIN ***********************/

/*********************** MAIN ***********************/

/*Para agregar imagen desde drive
copia los caracteres entre «file/d/» y  «view?»	
Y ahora para crear la URL que corresponde a tu imagen, debes usar la siguiente cadena:

«http://drive.google.com/uc?export=view&id=FILEID«

cambiando FILEID con la cadena de caracteres que copiaste en el paso anterior.
*/
main{
    background-image: url(http://drive.google.com/uc?export=view&id=1R2C42hXT2bNgeWxJvfPy3bpBgjjYKg0t);
}

.articulo{
    background-color: #5f5f5f46;
}

.articulo__hora{
    background-color: #ffffff7e;
    border-radius: .5rem;
    color: #8d1c3d;
    width: 90%;
}

.articulo__hora h3{
    padding-top: 1.2rem;
    margin: 0;
}

.bandera{
    width: 2rem;
    margin: 1rem;
}

.parpadeo {
    animation-name: parpadeo;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@keyframes parpadeo {
    0%{
        filter: drop-shadow(4px 4px 2px #8d1c3d);
    }
    25%{
        filter: none;
    }
    50%{
        filter: drop-shadow(4px 4px 2px #8d1c3d);
    }
    75%{
        filter: none;
    }
    100%{
        filter: drop-shadow(4px 4px 2px #8d1c3d);
    }

}

.galeria div div img{
    padding: .5rem;
    height: 100%;
    border-radius: 1rem;
}

.fecha{
    background-color: #e1c396c9;
    color: #8d1c3d;
    border-radius: .5rem;
}

.fecha h2{
    border-bottom: #8d1c3d 2px solid;
}

.form--hover:focus{
    border-color: #e1c396;
    box-shadow: 0px 0px 0px 3px rgb(225, 195, 150);
}

.ventana,.ventana table th{
    color: #8d1c3d;
}

@media screen and (min-width: 768px) {

    .equipos__continente{
        width: 30rem;
    }    
}

@media screen and (max-width: 425px){
    .grupos div{
        width: 90%;
    }
}